doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    //order dependent
    script(src='javascripts/library/angularjs/1.3.12/angular.min.js')
    script(src='javascripts/tic-tac-toe.js')
    script(src='javascripts/tic-tac-toe-player.js')
    script(src='javascripts/tic-tac-toe-controller.js')
    script(src='javascripts/tic-tac-toe-angular-app.js')


    body
    block content